<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const productStore = useProductStore();
</script>

<template>
  <v-dialog v-model="productStore.showDel" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Do you want to delete product?</span>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="productStore.showDel = false"
        >
          Close
        </v-btn>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="productStore.deletedProduct()"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
