<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const userStore = useUserStore();
</script>

<template>
  <v-dialog v-model="userStore.showDel" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">Do you want to delete this user?</span>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="userStore.showDel = false"
        >
          No
        </v-btn>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="userStore.deletedProduct()"
        >
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
